:root {
	--focus-color: #9155ef;
	--text-color: white;
}

* {
	font-family: "JetBrains Mono", "Lucida Console", Consolas, serif;
	margin: 0;
}

body {
	align-items: center;
	background-color: #202028;
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
	width: 100vw;
}

form {
	display: flex;
	flex-direction: column;
	margin: 2rem 1rem;
	width: 25rem;
}

input {
	background-color: transparent;
	border: currentColor solid 3px;
	border-radius: .5rem;
	color: var(--text-color);
	margin-bottom: .8rem;
	outline: none;
	padding: .2rem .5rem;
	transition: border-color .2s;
}

input:focus {
	border-color: var(--focus-color);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	--infinite-transition: 60000000s 0s;
	transition: background-color var(--infinite-transition), color var(--infinite-transition), border-color var(--infinite-transition);
}

input[data-autocompleted] {
	background-color: transparent !important;
}
